In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('clean_house_data.csv', index_col=False)

In [3]:
data.drop(columns=['Unnamed: 0'],inplace=True)
data

                       location  total_sqft  bath  balcony   price  bedroom
0      Electronic City Phase II      1056.0   2.0      1.0   39.07        2
1              Chikka Tirupathi      2600.0   5.0      3.0  120.00        4
2                   Uttarahalli      1440.0   2.0      3.0   62.00        3
3            Lingadheeranahalli      1521.0   3.0      1.0   95.00        3
4                      Kothanur      1200.0   2.0      1.0   51.00        2
...                         ...         ...   ...      ...     ...      ...
11980         Green Glen Layout      1715.0   3.0      3.0  112.00        3
11981                Whitefield      3453.0   4.0      0.0  231.00        5
11982     Raja Rajeshwari Nagar      1141.0   2.0      1.0   60.00        2
11983           Padmanabhanagar      4689.0   4.0      1.0  488.00        4
11984              Doddathoguru       550.0   1.0      1.0   17.00        1

[11985 rows x 6 columns]

In [4]:
x = data.drop(columns='price')
y = data['price']

In [5]:
display(x,y)

                       location  total_sqft  bath  balcony  bedroom
0      Electronic City Phase II      1056.0   2.0      1.0        2
1              Chikka Tirupathi      2600.0   5.0      3.0        4
2                   Uttarahalli      1440.0   2.0      3.0        3
3            Lingadheeranahalli      1521.0   3.0      1.0        3
4                      Kothanur      1200.0   2.0      1.0        2
...                         ...         ...   ...      ...      ...
11980         Green Glen Layout      1715.0   3.0      3.0        3
11981                Whitefield      3453.0   4.0      0.0        5
11982     Raja Rajeshwari Nagar      1141.0   2.0      1.0        2
11983           Padmanabhanagar      4689.0   4.0      1.0        4
11984              Doddathoguru       550.0   1.0      1.0        1

[11985 rows x 5 columns]

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
11980    112.00
11981    231.00
11982     60.00
11983    488.00
11984     17.00
Name: price, Length: 11985, dtype: float64

In [6]:
import pandas as pd
import numpy as np
import joblib as jb
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

In [7]:
# data = pd.read_csv('clean_house_data.csv')
# data = data.rename(columns={'total_sqft': 'total_sqft'})

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
preprocessor = ColumnTransformer(
    transformers=[
        ('location', OneHotEncoder(handle_unknown='ignore', sparse_output=False), ['location']),
        ('num', StandardScaler(), ['total_sqft', 'bath', 'balcony', 'bedroom'])
    ],
    remainder='drop'
)

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

In [10]:
pipeline.fit(x_train, y_train)
print(f"✅ Model trained! Test R²: {pipeline.score(x_test, y_test):.3f}")

✅ Model trained! Test R²: 0.674

In [11]:
jb.dump(pipeline, 'model.pkl')

['model.pkl']